* {
    margin: 0;
    padding: 0;
}

.section {
    width: auto;
    padding: 0;
}

.section1 {
    background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.308), rgba(0, 0, 0, 0.39)), url(/img/bridge.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h2 {
    margin-top: 0;
}

.row {
    padding: 20px;
    margin: 0;
}

thead {
    padding: 20px 0;
}